/*
                            Formatação geral da página (fonte e imagem de fundo)
*/

body{
    font-family: 'Roboto', sans-serif;
    background-image: url("assets/layout_home_1.jpg");
    background-size: cover;
    background-color: #6FCF97;
    height: 100%;
    position: relative;
}

.main_container{
    min-height: 100vh;
    min-width: auto;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

.conteudo_home{
    margin-left: 60px;
    flex-direction: row;
    justify-content: baseline;
    align-content: center;
    background-color: none;
    height: 1250px;
}

.nossa_historia{
    height: 150px;
    padding-top: 30px;
}

#head_nossa_historia{
    color: black;
    text-decoration: none;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

#head_nossa_historia:hover{
    color: #000000;
}

#head_nossa_historia::before{
    background-color: #444444;
    position: absolute;
}

#paragrafo_nossa_historia{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/*
                                    Formatação da barra de navegação
*/

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    padding: 10px 0;
}

.header{
    background-color: #6FCF97;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.nav{
    position: relative;
    bottom: auto;
    width: 100%;
}

#nome{
    font-size: 22px;
    margin-left: 18px;
}

.item_nav{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    margin-left: 50px;
    padding-top: 25px;
    position: relative;
    font-size: 18px;
    margin-top: 10px;
}

.link{
    color: black;
    text-decoration: none;
    text-transform: none;
}

.link:hover{
    color: #000000;
}

.link::before{
    content: '';
    display: block;
    height: 5px;
    width: 0;
    background-color: #444444;
    position: absolute;
    top: 0;
}

.link:hover::before{
    width: 100%;
}

.h1{
    display:flex;
    justify-content: center;
    font-size: 50px;
}
/*

                                                Formatação do carrossel de fotos

*/

#link_acervo_carrossel {
    color: black;
    text-decoration: none;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
}

#link_acervo_carrossel:hover{
    color: #000000;
}

.carousel{
    position: absolute;
    height: 400px;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    background-color: #2e8a54;
    padding: 50px;
    border-radius: 20px;
}

.carousel_image{
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel_track_container{
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel_track{
    list-style: none;
    position: relative;
    height: 100%;
}

.carousel_slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
}

.carousel_button{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.carousel_button--left{
    left: -30px;
}

.carousel_button--right{
    right: -30px;
}

.carousel_indicator{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #bbb;
    cursor: pointer;
    transition: background-color 0.6s ease;
    margin: 0 2px ;
}

.carousel_nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0 15px;
}

.carousel_button img{
    width: 20px;
    height: 30px;
    background-color: transparent;
}

.carousel_indicator.current_slide{
    background-color: #717171 ;
}

.is_hidden{
    display: none;
}


/*

                                Formatação do rodapé

*/

.footer{
    background-color: #6FCF97;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 1000px;
}

.informacoes,.informacoes_contato{
    list-style: none;
}

.link_rodape{
    color: black;
    text-decoration: none;
    text-transform: none;
}

.link_rodape:hover{
    color: #000000;
    font-style:italic;
}

.informacoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px;
}

.div_info_contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_rede_social{

    width: 25px;
    height: 25px;
    margin: 10px;
}

#info_doacao{
    margin-right: 40px;
}

#localizacao{
    vertical-align: middle;
}

.redes_sociais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
}