.conteudo {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
	grid-gap: 25px;
	grid-auto-flow: dense;
	padding: 25px min(25px, 50px, 100px);
	justify-content: center;
}

.produto {
	color: #000;
	background-color: #FFFFFFD0;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	padding: 5px;
}

.prod_header {
	margin: 2px 3px;
	position: relative;

}

.prod_header h4, h5 {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.prod_header h5 {
	position: absolute;
	right: 0px;
}

.produto img {
	max-width:100%;
	max-height:100%;
	/*float: center;*/
}

.produto a img {
	max-height: 25px;
	vertical-align: middle;
	padding-right: 5px;
}

.produto a div{
	background-color: #25D366;
	color: #fff;
	border-radius: 10px;
	padding: 5px 8px;
	display: inline-block;
	vertical-align: middle;
	border: none;
	font-size: 1em;
}

.produto a {
	text-align: center;
	display: block;
	/*width: auto;*/
}