.conteudo {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 25px;
	grid-auto-flow: dense;
	padding: 30px 100px;
}

.produto {
	color: #000;
	/*max-width: 300px;*/
	background-color: #FFFFFF7F;
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

.prod_header {
	margin: 2px 10px;
	position: relative;

}

.prod_header h4, h5 {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.prod_header h5 {
	position: absolute;
	right: 0px;
}

.produto img {
	max-width:100%;
	max-height:100%;
	/*float: center;*/
}