body{
    background-image: url('assets/Desktop - 4.png');
}


.item-info{
    list-style: none;
}


.h2-list{
    display: inline-block;
    font-size: 18px;
    font-family:'Roboto', sans-serif;
}

.p-list{
    display: inline-block;
    font-size: 18px;
    font-family:'Roboto', sans-serif;

}
.topo{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.redes-sociais{
    height: fit-content;
    width: fit-content;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #196712de;
    border-radius: 8px;
}

.redes-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 6%;
}

.redes{
    display: inline-block;
    height: 60px;
    width: 60px;
}

.mapa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2%;

}
