/*
                            Formatação geral da página (fonte e imagem de fundo)
*/

body{
    font-family: 'Roboto', sans-serif;
    background-image: url("assets/Desktop-2.png");
    background-size: cover;
    background-attachment: fixed;
    background-color: #4DC44A;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 100px;
}

.conteudo{
    margin-top: 100px;
}

/*
                                    Formatação da barra de navegação
*/


#header{
    background-color: #196712;
    /*padding: 0 20px;*/
    position: fixed;
    overflow: hidden;
    transition: 0.4s;
    width: 100%;
    margin: 0;
    z-index: 99;
    top: 0;
}

#header::after{
    content: '';
    display: table;
    clear: both; 
}

#logo_nome {
    position: relative;
    bottom: auto;
    float: left;
}

#logo {
    width: 80px;
    height: 100%;
    border-radius: 50%;
    float: left;
    transition: 0.4s;
    display: inline;
    margin: 10px;
    position: relative;
}

#nome {
    color: #000;
    font-size: 22px;
    margin-left: 18px;
    transition: 0.4s;
    display: inline;
    position: relative;
    float: right;
    padding: 37.5px 0;
    text-decoration: none;
    text-transform: none;
}

.nav {
    position: relative;
    bottom: auto;
    float: right;
    background-color: #196712;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.item_nav{
    list-style: none;
    display: inline-block;
    position: relative;
    font-size: 18px;
    transition: 0.4s;
}

.link{
    color: #000;
    text-decoration: none;
    text-transform: none;
    padding: 39.5px 25px;
    transition: 0.4s;
    display: inline-block;
}

#header a:hover{
    color: #fff;
}

#header a::before{
    content: '';
    display: block;
    height: 5px;
    width: 0;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.1s;
}

#header a:hover::before{
    width: 100%;
}

/*

                                Formatação do rodapé

*/

.footer{
    background-color: #196712;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.informacoes,.informacoes_contato{
    list-style: none;
}

.link_rodape{
    color: black;
    text-decoration: none;
    text-transform: none;
}

.link_rodape:hover{
    color: #000000;
    font-style:italic;
}

.informacoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px;
}

.div_info_contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}