/*
                            Formatação geral da página (fonte e imagem de fundo)
*/

body{
    font-family: 'Roboto', sans-serif;
    background-image: url("fundos/fundos/Rectangle\ 11.png");
    background-size: cover;
    background-color: #6FCF97;
    height: 100%;
    position: relative;
}

.main_container{
    min-height: 100;
    min-width: auto;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 150px;
}

.conteudo_home{
    margin-left: 60px;
    display: inline-block;
    flex-direction: row;
    justify-content: baseline;
    align-content: center;
    background-color: none;
    height: 1250px;
    margin-bottom: 20px;
}

.nossa_historia{
    height: 150px;
    padding-top: 30px;
}

#head_nossa_historia{
    color: black;
    text-decoration: none;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

#head_nossa_historia:hover{
    color: #000000;
}

#head_nossa_historia::before{
    background-color: #444444;
    position: absolute;
}

#paragrafo_nossa_historia{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/*
                                    Formatação da barra de navegação
*/

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    padding: 10px 0;
}

.header{
    background-color: #6FCF97;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.nav{
    position: relative;
    bottom: auto;
    width: 100%;
}

#nome{
    font-size: 22px;
    margin-left: 18px;
}

.item_nav{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    margin-left: 50px;
    padding-top: 25px;
    position: relative;
    font-size: 18px;
    margin-top: 10px;
}

.link{
    color: black;
    text-decoration: none;
    text-transform: none;
}

.link:hover{
    color: #000000;
}

.link::before{
    content: '';
    display: block;
    height: 5px;
    width: 0;
    background-color: #444444;
    position: absolute;
    top: 0;
}

.link:hover::before{
    width: 100%;
}

/*

                                            Formatação do carrossel de depoimentos

*/

 /* Container das frases */
 .slideshow-container {
    position: relative;
    background-color: transparent;
    width: 90%;
    margin-left: 50px;
    left: 0;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Botões */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #4DC44A;
    opacity: 0.8;
    color: white;
  }
  
  /* Container dos pontos */
  .dot-container {
    text-align: center;
    padding: 20px;
    background-color: transparent;
  }
  
  /* Pontos */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Desmarcando pontos não ativados */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fonte itálica */
  q {
      font-style: italic;
    }
  
  .author {
      color: black;
    } 

  #h2_depoimentos{
      font-family: 'Roboto',sans-serif;
      font-size: 30px;
  }

  .frase{
      font-family: 'Roboto',sans-serif;
      font-size: 30px;
  }

  .author{
      font-family: 'Roboto',sans-serif;
      font-size: 20px;
  }

/*

                                                Formatação do carrossel de fotos

*/

.h3{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

#link_acervo_carrossel {
    color: black;
    text-decoration: none;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
}

#link_acervo_carrossel:hover{
    color: #000000;
}

/* Container das fotos */
.carousel_track_container {
    position: relative;
  }

.carousel_track{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
  
  /* Slides */
  .mySlidesFoto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  /* Botões */
  .prevFoto, .nextFoto {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .nextFoto {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prevFoto:hover, .nextFoto:hover {
    background-color:#4dc44a;
    opacity: 0.8;
    color: white;
  }
  
  /* Container dos pontos */
  .dotFoto-container {
    text-align: center;
    padding: 20px;
    background-color: transparent;
  }
  
  /* Pontos */
  .dotFoto {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Desmarcando pontos não ativados */
  .active, .dotFoto:hover {
    background-color: #717171;
  }

  .carousel{
    position: absolute;
    height: 400px;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.carousel_image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel_nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0 15px;
}
/*

                                Formatação do rodapé

*/

.footer{
    background-color: #6FCF97;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.informacoes,.informacoes_contato{
    list-style: none;
}

.link_rodape{
    color: black;
    text-decoration: none;
    text-transform: none;
}

.link_rodape:hover{
    color: #000000;
    font-style:italic;
}

.informacoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px;
}

.div_info_contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_rede_social{

    width: 25px;
    height: 25px;
    margin: 10px;
}

#info_doacao{
    margin-right: 40px;
}

#localizacao{
    vertical-align: middle;
}

.redes_sociais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
}