/*

###############################################################################################################                                               #####################
                                               

                                                Formatação desktop



##############################################################################################################                                               #####################

*/

/*
                            Formatação geral da página (fonte e imagem de fundo)
*/

body{
    background-image: url('assets/Desktop\ -\ 4.png');
    margin: 0;
    padding: 0;
    height: 100%;
}

.main_container{
    min-height: 100px;
    padding-bottom: 100px;
    background: rgba(249, 233, 208, 0.78);
}

.conteudo_home{
    display: inline-block;
    flex-direction: row;
    justify-content: baseline;
    align-content: center;
    background-color: none;
    height: 1850px;
    margin-bottom: 20px;
    margin-top: 100px;
    min-height: 60%;
}

.nossa_historia{
    height: 150px;
    padding-top: 30px;
    width: 100%;
    padding-bottom: 30px;
    display: inline-block;
}

#head_nossa_historia{
    color: black;
    text-decoration: none;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

#head_nossa_historia:hover{
    color:#2E8A54;
}

#head_nossa_historia::before{
    background-color: #444444;
    position: absolute;
}

#paragrafo_nossa_historia{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
/*

                                            Formatação do carrossel de depoimentos

*/

 /* Container das frases */
 .slideshow-container {
    position: relative;
    width: 90%;
    margin-left: 50px;
    left: 0;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Botões */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #2E8A54;
    opacity: 0.8;
    color: white;
  }
  
  /* Container dos pontos */
  .dot-container {
    text-align: center;
    padding: 20px;
    background-color: transparent;
  }
  
  /* Pontos */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Desmarcando pontos não ativados */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fonte itálica */
  q {
      font-style: italic;
    }
  
  #h2_depoimentos{
      font-family: 'Roboto',sans-serif;
      font-size: 40px;
  }

  .frase{
      font-family: 'Roboto',sans-serif;
      font-size: 30px;
  }

  .author{
      font-family: 'Roboto',sans-serif;
      font-size: 20px;
      color: black;
  }

/*

                                    Formatação área call to action

*/

.call_to_action{
    font-size: 40px;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    margin-bottom: 100px;
}

.projetos,.whatsapp{
    background-color: #196712;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    font-family: sans-serif;
}

.projetos:hover,.whatsapp:hover{
    background-color: white;
    color:#196712;
    transition: 0.3s;
}

.botoes_ajuda{
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*

                                                Formatação do carrossel de fotos

*/

.h3{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

#link_acervo_carrossel {
    color: black;
    text-decoration: none;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
}

#link_acervo_carrossel:hover{
    color: #2E8A54;
}

/* Container das fotos */
.carousel_track_container {
    position: relative;
    width: 90%;
    margin-left: 50px;
    left: 0;
    padding-top: 20px;
  }
  
  /* Slides */

.mySlidesFoto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
}
  
  /* Botões */
  .prevFoto, .nextFoto {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 40px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .nextFoto {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prevFoto:hover, .nextFoto:hover {
    background-color: #2E8A54;
    opacity: 0.8;
    color: white;
  }
  
  /* Container dos pontos */
  .dotFoto-container {
    text-align: center;
    padding: 20px;
    background-color: transparent;
  }
  
  /* Pontos */
  .dotFoto {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Desmarcando pontos não ativados */
  .active, .dotFoto:hover {
    background-color: #717171;
  }

  .carousel{
    position: absolute;
    height: 400px;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.carousel_image{
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-left: 75px;
}

.carousel_nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0;
    margin: 0 15px;
}



/*

#################################################################################################################                                                ########################
                                                   


                                                Formatação tablets




#################################################################################################################                                                ########################


*/

@media screen and (max-width: 768px){
    
    /*   
                                            Formatações gerais  
    */

    .item_nav{
        margin-right: -30px;
    }

    .nav{
        display: inline-block;
        position: absolute;
    }

                                            /* Formatação carrossel de frases*/

    .mySlides{
        margin-right: 50px;
    }
                                         
    .prev,.next{
        margin-right: 50px;
    }

    #h2_depoimentos{
        margin-right: 18px;
    }

                                            /* Call to action */

    .projetos,.whatsapp{
        font-size: 25px;
        padding: 5px;
        margin-right: 20px;
    }

    .call_to_action{
        margin-right: 20px;
        margin-bottom: 50px;
    }
    
                                            /* Carrossel de fotos */

     .carousel{
        display: none;
    }

                                                /* Footer */

    .icones_redes_sociais{
        padding: 8px 8px;
    }
    
    .header_redes{
        font-size: 16px;
    }

    .logo_rede_social{
        width: 20px;
        height: 20px;
        margin: 5px;
        padding-top: 5px;
    }

    .informacoes_contato{
        font-size: 16px;
    }

    #localizacao{
        font-size: 16px;
    }

    #doacao{
        font-size: 16px;
    }

}

/*

#################################################################################################################                                                ########################
                                                

                                            Formatação celulares



#################################################################################################################                                                ########################


*/

@media screen and (max-width: 500px){

                                    /*   Formatações gerais  */
   .nav{
       position:absolute;
       display: inline-block;
   }

   .conteudo_home{
       height: 1200px;
   }


                                    /* Formatações nossa história */

    #head_nossa_historia{
        font-size: 26px;
    }

    #paragrafo_nossa_historia{
        font-size: 14px;
        margin-right: 10px;
    }

                                         /* Carossel de frases */

    #h2_depoimentos{
        font-size: 22px;
    }

    .frase,.author{
        font-size: 12px;
    }

    .dot{
        width: 8px;
        height: 8px;
    }
    
    .mySlides{
       margin-right: 50px;
    }

    .prev,.next{
        margin-right: 50px;
    }

                                                /* Call to action */

    
    .call_to_action{
        font-size: 18px;
    }

    .projetos,.whatsapp{
        font-size: 14px;
        padding: 5px;
        margin-right: 20px;
    }

                                                /* Carrossel de fotos */

    .carousel{
        display: none;
    }


                                                /* Footer */

    .icones_redes_sociais{
        padding: 8px 8px;
    }
    
    .header_redes{
        font-size: 10px;
    }

    .logo_rede_social{
        width: 10px;
        height: 10px;
        margin: 5px;
    }

    .informacoes_contato{
        font-size: 10px;
    }

    #localizacao{
        font-size: 10px;
    }

    #doacao{
        font-size: 10px;
    }

}


