
body{
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-image: url('assets/Desktop\ -\ 4.png');
    background-color:#F9F1EC;
    height: 100%;
    position: relative;
}

.main_container{
    min-height: 100px;
    min-width: auto;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
    margin-bottom: auto;
}
.container_menor{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin-left: 10%;
}
.conteudo{
    display: inline-block;
    background-color: none;
    padding: 25px min(25px, 50px, 100px);
}
/*--------------------------------Card do texto da história---------------*/
.card{
    background-color:  #196712;
    padding: 30px;
    border-radius: 15px;
    display:inline-block;
    margin-right:4%;
    width:50%;
    height: 40%;
}
/*---------------------------------Div da foto----------------------------*/
.mangueira{
    display:inline-block;
    justify-content: space-between;
    width: 50%;
    padding:80px;
}

#foto_mangueira{
    border-radius: 25px;
    width: 500px;
    height: 415px;
}
/*------------------------------Título------------------------------------*/
h1{
    margin-left:7%;
    font-size: 45px;
    margin-top: 4%;
}

#paragrafo_nossa_historia{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:#ffff;
}
/*         
                                    Formatação Fundadora
*/
#titulo{
    font-size: 25px;
    font-weight: 100px;
    display:flex;
    justify-content: flex-start;
}
/*

                                            Formatação do carrossel de depoimentos

*/
h2{
    font-size: 35px;
    margin-left:37%;
}
 /* Container das frases */
 .slideshow-container {
    background-color: #1e7915;
    border-radius: 20px;
    position: relative;
    width: 77%;
    margin-left: 10%;
    margin-bottom: 5%;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Botões */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #2E8A54;
    opacity: 0.8;
    color: white;
  }
  
  /* Container dos pontos */
  .dot-container {
    text-align: center;
    padding: 20px;
    background-color: transparent;
  }
  
  /* Pontos */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Desmarcando pontos não ativados */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fonte itálica */
  q {
      font-style: italic;
      color: #FFFFFF;
    }
  
  .author {
      color: #FFFFFF;
    } 

  #h2_depoimentos{
      font-family: 'Roboto',sans-serif;
      font-size: 30px;
  }

  .frase{
      font-family: 'Roboto',sans-serif;
      font-size: 30px;
  }

  .author{
      font-family: 'Roboto',sans-serif;
      font-size: 20px;
  }
/*
                            Formatação documentação
*/
.card_documentos{
    background-color:  #196712;
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    margin-left:7%;
}
.lista{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
.geral:not(:last-child) {
    margin-right: 20px;
}
.geral{
    display: inline;
    position: relative;
}
.doc{
    display: block;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 7px 15px;
}