
body{
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-image: url('assets/Desktop\ -\ 4.png');
    background-color:#F9F1EC;
    height: 100%;
    position: relative;
}

.main_container{
    min-height: 100px;
    min-width: auto;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 200px;
    margin-bottom: auto;
}
.container_menor{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin-left: 10%;
}
.conteudo{
    display: inline-block;
    background-color: none;
    padding: 25px min(25px, 50px, 100px);
}
/*--------------------------------Card do texto da história---------------*/
.card{
    background-color:  #196712;
    padding: 30px;
    border-radius: 15px;
    display:inline-block;
    margin-right:4%;
    width:50%;
    height: 40%;
}
/*---------------------------------Div da foto----------------------------*/
.mangueira{
    display:inline-block;
    justify-content: space-between;
    width: 50%;
    padding:80px;
}

#foto_mangueira{
    border-radius: 25px;
    width: 600px;
    height: 500px;
}

#foto_fundadora{
  border-radius: 25px;
  width: 450px;
  height: 550px;
}
/*------------------------------Título------------------------------------*/
h1{
    margin-left:7%;
    font-size: 45px;
    margin-top: 4%;
}

#paragrafo_nossa_historia{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color:#F9F1EC;
}

#paragrafo_fundadora{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color:#F9F1EC;
}
/*         
                                    Formatação Fundadora
*/
#titulo{
    font-size: 25px;
    font-weight: 100px;
    display:flex;
    justify-content: flex-start;
}
/*

                                            Formatação do carrossel de depoimentos

*/
h2{
    font-size: 35px;
    margin-left:37%;
}
 /* Container das frases */
 .slideshow-container {
    background-color:#196712;
    border-radius: 20px;
    position: relative;
    width: 77%;
    margin-left: 10%;
    margin-bottom: 5%;
    
  }
  
  /* Slides */
  .mySlides {
    padding: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-height: 1100px;
  }

  .carrossel_quem_somos_depo{
    width: 30%;
    height: 30%;
    margin-bottom: 28%;
    
  }

  .carrossel_quem_somos_depo2{
    width: 30%;
    height: 30%;
    margin-bottom: 40%;
  }
  
  .depoimentos{
    border-radius: 25px;
    width: 450px;
    height: 550px;
  }

.paragrafo{
    display:inline-block;
    justify-content: space-between;
    text-align: center;
    width: 50%;
    padding:80px;
}

.foto{
  display:inline-block;
    justify-content: space-between;
    width: 50%;
    padding:80px;
}
  /* Botões */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #2E8A54;
    opacity: 0.8;
    color: #F9F1EC;;
  }
  
  /* Container dos pontos */
  .dot-container {
    text-align: center;
    padding: 20px;
    background-color: transparent;
  }
  
  /* Pontos */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Desmarcando pontos não ativados */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fonte itálica */
  q {
      font-style: italic;
      color: #FFFFFF;
    }
  
  .author {
      color: #FFFFFF;
    } 

  #h2_depoimentos{
      font-family: 'Roboto',sans-serif;
      font-size: 30px;
  }

  .frase{
      font-family: 'Roboto',sans-serif;
      font-size: 23px;
  }

  .author{
      font-family: 'Roboto',sans-serif;
      font-size: 20px;
  }
/*
                            Formatação documentação
*/
.mynav{
    background-color:  #196712;
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    margin-left:7%;
}
.mynav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.mynav li:not(:last-child) {
  margin-right: 20px;
}

.mynav a {
  display: block;
  font-size: 20px;
  color: #F9F1EC;
  text-decoration: none;
  padding: 7px 15px;
}

.target {
  position: absolute;
  border-bottom: 4px solid transparent;
  z-index: -1;
  transform: translateX(-60px);
}

.mynav a,
.target {
  transition: all .35s ease-in-out;
}
