/*
                            Formatação geral da página (fonte e imagem de fundo)
*/

body{
    font-family: 'Roboto', sans-serif;
    background-image: url("assets/BackGround.png");
    background-size: cover;
    background-color: #6FCF97;
    height: 100%;
    display:flex;
    flex-direction: column;
}
html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
/*                          Conteúdo Geral da página              */
.main_container{
    min-height: 100vh;
    min-width: auto;
    overflow: hidden;
    padding-bottom: 150px;
}

.conteudo_home{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: right;
    background-color: none;
    height: 1050px;
}
.flex{
    display: flex;
    justify-content: space-between;
}

/*--------------------------------Card do texto da história---------------*/
.card{
    background-color: #2e8a54;
    padding: 30px;
    border-radius: 15px;
}
/*--------------------------------Div da história-------------------------*/
.nossa_historia{
    height: 150px;
    flex-direction: row;
    width: 50%;
}
/*---------------------------------Div da foto----------------------------*/
.mangueira{
    display:flex;
    flex-direction: row;
    width: 50%;
    padding:80px;
}

#foto_mangueira{
    border-radius: 25px;
    width: 500px;
    margin-left:150px;
    height: 415px;
}
/*------------------------------Título------------------------------------*/
#head_nossa_historia{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

#head_nossa_historia:hover{
    color: #000000;
}

#head_nossa_historia::before{
    background-color: #444444;
    position: absolute;
}

#paragrafo_nossa_historia{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:#ffff;
}



/*

                                            Formatação do carrossel de depoimentos

*/

.depoimentos{
    height: 300px;
}

#header_depoimentos{
    font-size: 30px;
    font-family: 'Roboto', sans-serif ;
}

.autor{
    padding-left: 10px;
    padding-top: 30px;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.frase{
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
}

/*

                                Formatação do rodapé

*/

.footer{
    background-color: #6FCF97;
    position:absolute;
    bottom: 0;
    width: 100%;
    left:0px;
    margin-top: 1000px;
}

.informacoes,.informacoes_contato{
    list-style: none;
}

.link_rodape{
    color: black;
    text-decoration: none;
    text-transform: none;
}

.link_rodape:hover{
    color: #000000;
    font-style:italic;
}

.informacoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px;
}

.div_info_contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_rede_social{

    width: 25px;
    height: 25px;
    margin: 10px;
}

#info_doacao{
    margin-right: 40px;
    vertical-align: middle;
}

#localizacao{
    vertical-align: middle;
}