body {
    margin: 0;
    padding: 0;
}

.grid {
    display:grid; /*configurar grid: quantas linhas, quantas colunas e os espaçamentos delas*/
    grid-template-columns: 1fr 2fr 1fr;  /*uma fraçao, duas para o conteúdo do meio, e mais uma*/
    grid-template-rows: 10vh 20vh 55vh 15vh ;  /*Aqui vou definir a altura de cada uma dessas grids. Ou seja, estou falando que quero 5% para navbar, 20% header, 55% main e mais 20% pro footer*/
    background-image: url("assets/bgparceiros.jpg");
    background-position: center;
    background-size: cover;
 }

 .box{
     padding: 1em;
     text-align: center;
 }

 /*O que vou falar para os filhos: onde ele começa, */
 .navbar {      
     border: black solid 3px;
     grid-column-start: 1; /*onde ele começa. Em qual coluna eu quero que minha navbar apareça*/
     grid-column-end: 4;   /*qual coluna ele acaba. Se no caso, eu tenho 4 colunas, ele acaba na última*/
     grid-row-start:1; /*Mesma coisa de posicionamento mas agora das linhas*/
     grid-row-end:1;
     background-color: #1d781557;
 }

 .header {      
    /*border: black solid 3px;*/
    grid-column-start: 2; /*onde ele começa. Em qual coluna eu quero que minha navbar apareça*/
    grid-column-end: 4;   /*qual coluna ele acaba. Se no caso, eu tenho 4 colunas, ele acaba na última*/
    grid-row-start:2; /*Mesma coisa de posicionamento mas agora das linhas*/
    grid-row-end:2;
}

 .aside-left {
     /*border: black solid 3px;*/
     grid-column-start: 1; /*onde ele começa. Em qual coluna eu quero que meu header apareça*/
     grid-column-end: 2;   /*qual coluna ele acaba.*/
     grid-row-start: 2;
     grid-row-end: 4;
 }
 
 
 .main {
     /*border: black solid 3px;*/
     grid-column-start: 2; /*Ela já taria posicionada corretamente. Mas vou colocar caso tenha alguma quebra*/
     grid-column-end: 4;   
     grid-row-start: 3;
     grid-row-end: 4; 
     overflow-y: scroll;
 }
 
 .footer {
     border: black solid 3px;
     grid-column-start: 1;
     grid-column-end: 4;
     grid-row-start: 4;
     grid-row-end: 5;
 }

 .h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5vh;
    color: #000000;
    font-weight: bold;
    text-align: center;

 }    

 .h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    color: #000000;
    font-weight: bold;
    text-align: center;

 }

 .p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vh;
    color: #000000;

 
 }

 .imagens{
     height: 30vh;
     width: 30vh;
     border-radius: 8px;
     position: center;
     padding-top: 10vh;
 }

 .parceiros {
    display: flex;     /*tem que indicar que é flex para usar aqueles 3 abaixo*/
    /*Essas três abaixo são as que mais vamos usar*/
    flex-direction: column; /*assume row e collumn*/ /*Ele muda o fluxo*/ /*collumn: dispostos na vertical*/ 
    justify-content: space-around ;  /*muda na direção do seu fluxo*/  /*space-between ele deixa um espaçamento entre as caixas. Ajuda na responsividade*/
    align-items: center; /*mexe na transversal do seu fluxo*/
    width: 100%;
  }

.parceiros ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.parceiros ul li {
    display: flex;
    flex-direction: column;
    padding-inline-end: 10vh;

}

.parceiros ul li .parceiros--fotos {
    display: flex;
    flex-direction: column;
    width: 20vh;
    height: 20vh;
}

.parceiros ul li .parceiros--texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'roboto', sans-serif;
    font-size: 1.5vh;
    width: 20vh;
    height: 20vh;
}

.parceiros h1{
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.imagens-parceiros {
    width: 20vh;
    height: 20vh;
    border-radius: 8px;
    box-shadow: 0px 0px 9px 4px rgba(29,120,21,1);
}









 